@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-abu-sidilan: #7A7A73;
    --color-background-sidilan: #F4F6FF;
    --color-kuning-sidilan: #F3C623;
    --color-orange-sidilan: #EB8317;
    --color-dongker-sidilan: #10375C;
    --color-danger: #EB5757;
    --color-success: #27AE60;
    --color-warning: #F5BB3E;
}
